@model CodeFirst.Models.Kisi
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kişi Ekleme Sayfası</h2>
<hr />
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Ad</span>
            </div>
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", placeholder = "Kişi Adı", aria_label = "txtAd", aria_describedby = "txtAd" })
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Soyad</span>
            </div>
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", placeholder = "Soyad Bilgisi", aria_label = "txtSoyad", aria_describedby = "txtSoyad" })
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Yaş</span>
            </div>
            @Html.TextBoxFor(x => x.Yas, new { @class = "form-control", placeholder = "Yaşınız", aria_label = "txtYas", aria_describedby = "txtYas" })
        </div>

        <div class="input-group mb-3">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>

        <div class="input-group mb-3">
            <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
        </div>
    }

</div>


